In [1]:
import pandas as pd
from collections import namedtuple

In [2]:
df_cities = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/jingle-jam-2023/cities15000.csv', encoding = "iso-8859-1")

In [3]:
display(df_cities.sample(10))
df_cities.info()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
2926,3892892,Curanilahue,Curanilahue,"Curanilahue,Kuranilaueh,Kuranilave,ku la ni la...",-37.47793,-73.34495,P,PPL,CL,NaN,6,82,8205,NaN,30611,NaN,141.0,America/Santiago,1/11/13
15767,1705190,Lumbang,Lumbang,"Lumban,Lumbang",14.2973,121.4598,P,PPL,PH,NaN,40,33,NaN,NaN,30269,NaN,9.0,Asia/Manila,1/17/12
9491,1258843,Rjmahal,Rajmahal,"Rajmahal,Rjmahal",25.05303,87.83048,P,PPL,IN,NaN,28,NaN,NaN,NaN,19711,NaN,34.0,Asia/Kolkata,9/6/12
15271,3149563,Kongsberg,Kongsberg,"Kongsberg,Kongsberg kommun,XKB,_________±_µÛ__",59.66858,9.65017,P,PPLA2,NO,NaN,4,604,NaN,NaN,17667,NaN,161.0,Europe/Oslo,4/26/17
21311,4950065,Salem,Salem,"Naamkeek,Naumkeag,Nehumkeke,Salem,Sejlem,Sejlu...",42.51954,-70.89672,P,PPL,US,NaN,MA,9,59105,NaN,42869,6,9.0,America/New_York,5/23/17
10696,1272648,Dibrugarh,Dibrugarh,"DIB,Dibrugarh,Dibrugarkh,Lakhinpur,di bu lu ji...",27.47989,94.90837,P,PPLA2,IN,NaN,3,310,NaN,NaN,122155,NaN,110.0,Asia/Kolkata,7/2/16
18683,1153090,Kamphaeng Phet,Kamphaeng Phet,"Amphoe Muang Kamphaeng Phet,Amphoe Mueang Kamp...",16.48344,99.52153,P,PPLA,TH,NaN,11,NaN,NaN,NaN,58787,NaN,83.0,Asia/Bangkok,1/16/12
18933,2467521,La Sebala du Mornag,La Sebala du Mornag,"Cebala-du-Mornag,La Cebala,La Cebala du Mornag...",36.67931,10.29195,P,PPL,TN,NaN,36,NaN,NaN,NaN,33421,NaN,32.0,Africa/Tunis,1/18/12
4663,2857904,Oer-Erkenschwick,Oer-Erkenschwick,"Er-Erkenshvik,Oer-Erkenschwick,Or-Ehrkenshvik,...",51.64198,7.26451,P,PPL,DE,NaN,7,55,5562,5562028,30409,NaN,76.0,Europe/Berlin,9/4/15
8519,1624647,Tasikmalaya,Tasikmalaya,"Kota Tasikmalaya,TSY,Tasikmalaja,Tasikmalaya,T...",-7.3274,108.2207,P,PPL,ID,NaN,30,NaN,NaN,NaN,271143,NaN,354.0,Asia/Jakarta,11/7/15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23469 entries, 0 to 23468
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   geonameid          23468 non-null  object
 1   name               23469 non-null  object
 2   asciiname          23469 non-null  object
 3   alternatenames     21460 non-null  object
 4   latitude           23467 non-null  object
 5   longitude          23467 non-null  object
 6   feature class      23466 non-null  object
 7   feature code       23467 non-null  object
 8   country code       23454 non-null  object
 9   cc2                238 non-null    object
 10  admin1 code        23459 non-null  object
 11  admin2 code        16271 non-null  object
 12  admin3 code        7118 non-null   object
 13  admin4 code        2225 non-null   object
 14  population         23467 non-null  object
 15  elevation          3800 non-null   object
 16  dem                23466 non-null  float64
 17  timezone           23466 non-null  object
 18  modification date  23466 non-null  object
dtypes: float64(1), object(18)
memory usage: 3.4+ MB

In [4]:
#df_cities = df_cities.dropna()
#df_cities.info()

In [5]:
print(df_cities['longitude'].isna().count())
df_cities['longitude'] = df_cities['latitude'].dropna()
print(df_cities['longitude'].isna().count())
df_cities.info()

23469
23469
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23469 entries, 0 to 23468
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   geonameid          23468 non-null  object
 1   name               23469 non-null  object
 2   asciiname          23469 non-null  object
 3   alternatenames     21460 non-null  object
 4   latitude           23467 non-null  object
 5   longitude          23467 non-null  object
 6   feature class      23466 non-null  object
 7   feature code       23467 non-null  object
 8   country code       23454 non-null  object
 9   cc2                238 non-null    object
 10  admin1 code        23459 non-null  object
 11  admin2 code        16271 non-null  object
 12  admin3 code        7118 non-null   object
 13  admin4 code        2225 non-null   object
 14  population         23467 non-null  object
 15  elevation          3800 non-null   object
 16  dem                23466 non-null  float64
 17  timezone           23466 non-null  object
 18  modification date  23466 non-null  object
dtypes: float64(1), object(18)
memory usage: 3.4+ MB

In [6]:
df_cities_lat_long = df_cities.groupby(['latitude', 'longitude'])['name'].max().reset_index().rename(columns={0: 'latitude', 1: 'longitude', 'name': 'name'})

display(df_cities_lat_long.sample(10))

df_cities_lat_long.info()

        latitude  longitude          name
17373   47.80527   47.80527  Bothell West
21080   55.17719   55.17719     Ashington
1075   -22.54417  -22.54417   Barra Mansa
2871     -7.9908    -7.9908    Wongsorejo
5877    20.48273   20.48273      Kranja
7187    25.31642   25.31642         Hilsa
14214    40.9805    40.9805    Farmington
21492   56.99719   56.99719       Ivanovo
8327    28.63528   28.63528     Chihuahua
22667    9.58893    9.58893        Kabala

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22773 entries, 0 to 22772
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   22773 non-null  object
 1   longitude  22773 non-null  object
 2   name       22773 non-null  object
dtypes: object(3)
memory usage: 533.9+ KB